/*  экран больше 1330px 
=================================== */
@media only screen and (min-width: 1300px) {
	.container { width: 1270px; }
}
/*  экран больше 768 px 
=================================== */
@media only screen and (min-width: 768px) {
	.main-menu {
		display: block !important;
	}
}
/*  экран меньше 1350px 
=================================== */
@media only screen and (max-width: 1350px) {
	.producer .row-1 img:nth-of-type(1),
	.producer .row-2 img:nth-of-type(1) {
		left: -10px;
	}

	.producer .row-1 img:nth-of-type(4),
	.producer .row-2 img:nth-of-type(4) {
		left: 10px;
	}
}
/*  экран меньше 1299px 
=================================== */
@media only screen and (max-width: 1299px) {
	.logo img {
		width: 320px !important;
		height: 48px !important;
	}

	.container-fluid:nth-of-type(2) { height: 775px;}
	
	.hot-floors.container { width: 970px; }
	
	.hot-floors { margin-top: 40px; }

	.termo-reg > p,
	.termo-reg h2 {
		margin: 0 auto;
		width: 970px;
	}

	.item-work {
		margin: 0;
	}

	.how-work {
		margin-bottom: 0;
	}

	.container-fluid:nth-of-type(6) {
		height: 400px;
	}

	.paralax-eff-2 {
		margin-top: -220px;
	}
	.reckoning {
		margin: 70px auto;
	}

	.producer {
		height: 400px;
	}

	.producer h2 {
		margin: 60px 0;
	}

	.producer .row-1,
	.producer .row-2 {
		margin: 10px auto;
		width: 800px;
	}

	.producer .row-1 img,
	.producer .row-2 img {
		margin: 0 15px;
	}
}

/*  экран меньше 1199px 
=================================== */
@media only screen and (max-width: 1199px) {
	.logo img {
		width: 260px !important;
		height: 40px !important;
	}
	
	.main-menu a {
		margin-top: 8px !important;
		font-size: .8em;
	}
	
	.second-pannel { font-size: 1em; }
	
	.order-call { margin-top: 6px; font-size: 1.1em; }
	
	header + .container-fluid { margin-top: 105px; }
	
	.poster-top { font-size: .9em; }
	
	.calcul-form {
		position: relative;
		left: 50%;
		margin: 0 0 10px -395px;
	}
	
	.right-forms {
		float: left;
		margin: 0 0 20px 120px;
	}
	
	.termo {
		float: left;
		clear: both;
		margin: 0;
	}
	
	.gift {
		float: left;
		margin: 0;
	}
	
	.gift input {
		height: 30px;
		font-weight: bold;
		font-size: .8em;
		line-height: 30px;
	}
	
	.gift .error-wrapper input:first-of-type {
		margin-bottom: -5px;
	}
	
	.price {
		left: -55%;
	}
	
	.paralax-eff-1 {
		height: 880px;
	}
	
	.montag-header {
		font-size: 1em;
	}
	
	.montag-nav li {
		font-size: 1.2em;
	}
	
	.montag-inform-elem:nth-of-type(1) {
		margin-left: 40px;
	}
	
	.container-fluid:nth-of-type(4) {
		height: 780px;
	}
	.termo-reg > p,
	.termo-reg h2 {
		width: 970px;
	}
	
	.termo-reg h2 {
		margin-bottom: 10px;
	}
	
	.item-work {
		width: 220px;
	}
	
	.item-work h3 {
		font-size: 1em;
	}
	
	.item-work p {
		font-size: .9em;
	}
	
	.contact-items {
		margin-right: 0px;
		width: 280px;
		font-size: 1.2em;
	}

	.numbers li {
		padding: 0 5px;
	}

	.numbers li:last-of-type {
		padding-right: 5px;
	}

	.numbers li:first-of-type {
		padding-left: 5px;
	}
}

/*  экран меньше 992px 
=================================== */
@media only screen and (max-width: 991px) {
	.logo a {
		position: relative;
		left: 50%;
		margin-left: -180px;
	}
	
	.logo img {
		width: 360px !important;
		height: 50px !important;
	}
	
	.main-menu {
		margin: -8px auto 0;
		padding: 0 14px;
		text-align: center;
	}
	
	.main-menu li { font-size: 1em; }
	
	.numbers {
		position: relative;
		left: 50%;
		margin-left: -160px;
		width: 260px;
		float: left;
	}
	
	.numbers li {
		margin: 0;
	}
	
	.numbers li:nth-of-type(1),
	.numbers li:nth-of-type(3) {
		margin-right: 20px;
	}
	
	hr { margin-bottom: 10px; }
	
	.order-call { height: 25px; }
	
	.order-call input[type=button],
	.order-call .error-wrapper {
		display: block;
		width: 115px;
		text-align: center;
	}
	
	.order-call .error-wrapper {
		position: relative;
		top: -26px;
		right: 120px;
		padding: 0;
	}
	
	.order-call input { height: 25px; }
	
	header + .container-fluid { margin-top: 130px; }
	
	.poster-top {
		padding: 0 0 20px;
		font-size: .7em;
	}
	
	.select-wr select {/* ======  размещение иконки в селектах  */
		background-position: 185px 40%;
	}
	
	.right-col {
		top: -20px;
		right: 3%;
	}
	
	.right-col img { width: 150px; }
	
	.left-col a {
		margin-left: 40%;
		width: 210px;
	}
	
	.left-col a:hover {
		padding: 0 50px 0 5px;
		width: 220px;
	}
	
	.calcul-form {
		left: 50%;
		margin: 0 0 0 -360px;
	}
	
	.row-1 .select-wr  {/* ======  селект первого ряда  */
		width: 210px;
	}
	
	.row-1 select:first-child {/* ======  селект первого ряда  */
		width: 230px;
	}
	
	.row-1 .error-wrapper:nth-of-type(1) {
		width: 212px;
	}
	
	.row-2 input:last-child {
		width: 210px;
	}
	
	.right-forms {
		float: left;
		margin: 10px 0 20px 15px;
	}
	
	.gift,
	.termo {
		width: 357px;
	}
	
	.container-fluid:nth-of-type(2) { height: 715px;}
	
	.hot-floors.container { width: 670px; }
	
	.hot-floors {
		margin-top: 10px;
		font-size: 1em;
	}
	
	.hot-floor-tabbed { margin-top: 20px; }
	
	.paralax-eff-1 {
		height: 720px;
	}
	
	.reckoning-form  {
		margin-left: 0px;
	}
	
	.montag {
		margin: 0 auto;
	}
	
	.montag-inform {
		margin: 20px 0 0;
	}
	
	.montag-header {
		margin-top: 40px;
		font-size: .9em;
	}
	
	.montag-nav li {
		width: 300px;
		text-align: center;
		font-size: .9em;
	}
	
	.montag-inform-elem:nth-of-type(1) {
		margin-left: 60px;
	}
	
	.montag-inform-elem:nth-of-type(3) {
		position: relative;
		top: -190px;
		right: 30px;
	}
	
	.container-fluid:nth-of-type(4) {
		padding: 20px 0 20px;
		height: 720px;
	}
	
	.termo-reg > p,
	.termo-reg h2 {
		margin: 0 auto;
		width: 670px;
	}
	
	.termo-reg h2 {
		margin-bottom: 10px;
	}
	
	.termo-reg > p:first-of-type {
		margin-bottom: 10px;
	}
	
	.how-work {
		margin: 0 auto;
	}
	
	.how-work h2,
	.how-work > h3  {
		font-size: 1.1em;
	}
	
	.item-work h3 {
		font-size: 1em;
	}
	
	.item-work p {
		font-size: .9em;
	}
	
	.item-work {
		display: block;
		width: 280px;
	}
	
	.stages-work {
		position: relative;
		left: 50%;
		margin-left: -310px;
		width: 670px;
	}
	
	.reckoning h2 {
		font-size: 1.4em;
	}
	
	.producer {
		height: 300px;
	}
	
	.producer h2 {
		margin: 40px 0;
		font-size: 1.3em;
	}
	
	.producer .row-1,
	.producer .row-2 {
		margin: 0 auto;
		width: 700px;
	}
	
	.producer .row-1 img,
	.producer .row-2 img {
		margin: 0;
	}
	
	.container-fluid .producer .row-1 img {
		top: -40px;
		right: 0;
		left: 0;
	}
	
	.container-fluid .producer .row-2 img {
		top: 40px;
		right: 0;
		left: 0;
	}
	
	.contacts {
		position: relative;
		float: right;
		margin-bottom: 30px;
		width: 400px;
		text-align: center;
	}
	
	.container-fluid:nth-of-type(8) {
		padding: 20px 0 0;
	}
	
	.contact-items {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		margin: 30px 0 0 -40px;
	}
	
	.contacts > p  {
		margin-bottom: 0px;
	}
	
	.contact-items li {
		width: 220px;
	}
	
	.container-fluid.google-maps {
		margin-top: 0px;
	}
	
	.goods-card {
		width: 700px;
		margin-left: -350px;
	}
	
	.goods-img {
		position: relative;
		left: 50%;
		width: 300px;
		height: 275px;
		margin-left: -150px;
	}
	
	.goods-description {
		clear: both;
		left: 50%;
		float: none;
		margin-left: -200px;
		padding: 20px 0 0;
	}
	
	.goods-description h2,
	.goods-description h4,
	.goods-description > p {
		text-align: center;
		width: 100%;
	}
	
	.goods-description input {
		position: relative;
		left: 60%;
		display: block;
		text-align: center;
	}
	
	.goods-description input[type=button] {
		margin-left: -132px;
		width: 181px;
	}
	
}

/*  экран меньше 768 px 
=================================== */
@media only screen and (max-width: 767px) {
	.logo a {
		left: 15%;
		margin-left: 0px;
	}
	
	.logo img {
		width: 280px !important;
		height: 40px !important;
	}
	
	.main-menu {
		display: block;
		display: none;
		margin-top: 3px;
		padding: 0;
		padding-bottom: 0px;
		width: 100%;
		background: #eee;
	}
	
	.main-menu li { float: none; }
	
	.main-menu li:nth-of-type(2n) { background: #ddd; }
	
	.main-menu li a {
		margin: 0 !important;
		font-weight: bold;
		font-size: .9em;
	}
	
	.main-menu li a:hover {	text-shadow: 0 0 5px rgba(0, 0, 0, 0.6) !important;	}
	
	.drop-menu { 
		display: block;
		margin-top: 3px;
	}
	
	hr {
		margin-top: 0px;
	}
	
	.second-pannel > div:first-of-type {
		display: none;
	}
	
	.numbers {
		left: 0;
		margin: 0;
		padding: 0 10px;
		width: 100%;
		text-align: center;
	}
	
	.numbers li {
		display: inline-block;
		float: none;
		margin-right: 10px;
		text-shadow: 1px 1px 3px rgba(0,0,0,.2);
		font-size: 1em;
	}
	
	.numbers li:nth-of-type(1),
	.numbers li:nth-of-type(3) {
		margin-right: 10px;
	}
	
	.numbers li:first-of-type {
		margin-left: 0;
	}
	
	.order-call {
		display: inline-block;
		float: none;
		margin: 10px 0;
		padding: 0;
	}
	
	.order-call .error-wrapper {
		top: 0;
		left: 0;
		float: none;
		margin-left: 15%;
	}
	
	.order-call input {
		float: none;
	}
	.second-pannel {
		padding: 0;
	}
	
	.order-call input[type=button] {
		margin-right: 15%;
	}
	
	.poster-top {
		margin-top: 15px;
	}
	
	header + .container-fluid { margin-top: 140px; }
	
	.calcul-form {
		left: 50%;
		margin: 0 0 0 -222px;
		width: 444px;
	}
	
	.calcul-form h2 {
		margin: 15px 15px 25px;
		word-wrap: break-word;
		font-size: 1.2em;
	}
	
	.row-1,
	.row-2 {
		position: relative;
		left: 50%;
		float: none;
		margin: 0 auto;
		margin-left: -150px;
		width: 300px;
	}
	
	.calcul-form input,
	.row-1 .select-wr,
	.row-2 .select-wr {
		display: block;
		float: none;
		margin-bottom: 15px;
		width: 300px !important;
		text-align: left;
	}
	
	.row-1 .select-wr,
	.row-2 .select-wr {
		padding: 0;
	}
	
	.row-1 .error-wrapper,
	.row-2 .error-wrapper,
	.calcul-form  select:first-child {
		float: none;
		width: 322px !important;
	}
	
	.row-1 input[name=client-number] { background-position: 94% 40% !important; }
	
	.row-2 input:last-child { text-align: center; }
	
	.select-wr select {
		background-position: 266px 40%;
	}

	.row-2 .select-wr select {
		background-position: 266px 40%;
	}
	
	.right-forms {
		position: relative;
		left: 50%;
		clear: both;
		margin: 0 0 20px -180px;
	}
	
	.gift,
	.termo {
		float: none;
		margin-top: 10px;
		width: 360px;
	}
	
	.price {
		left : 50%;
		margin-left: -180px;
		width: 360px;
	}
	
	.container-fluid:nth-of-type(2) { height: 790px; }
	
	.hot-floors.container { width: 370px; }
	
	.hot-floors {
		margin-top: 10px;
		font-size: .8em;
	}
	
	.tab-indicators {
		margin: 0 auto;
		padding-left: 0 !important;
		height: 90px;
		background: #f4f4f4;
	}
	
	.tab-indicators label {
		float: none;
		border: 1px solid transparent !important;
		border-bottom: 1px solid #d9d9d9 !important;
	}
	
	#tab-nav-1:checked ~ .tab-indicators > label:nth-of-type(1),
	#tab-nav-2:checked ~ .tab-indicators > label:nth-of-type(2),
	#tab-nav-3:checked ~ .tab-indicators > label:nth-of-type(3),
	#tab-nav-4:checked ~ .termo-reg-dop > label:nth-of-type(1),
	#tab-nav-5:checked ~ .termo-reg-dop > label:nth-of-type(2) {
		background: #ccc;
		text-shadow: 1px 1px 5px rgba(255,255,255,.5);
	}
	
	.container-fluid:nth-of-type(3) {
		margin-top: -20px;
	}
	
	.paralax-eff-1 {
		height: 900px;
		background-position: -200px;
	}
	
	.reckoning {
		margin: 60px 0 30px 0;
		text-align: center;
	}
	
	.reckoning-form {
		position: relative;
		left: 50%;
		margin-left: -155px;
	}
			
	.montag {
		margin: 20px auto 100px;
	}
	
	.montag-inform {
		margin: 20px 0 100px;
		text-align: center;
	}
	
	.montag-header {
		margin-top: 40px;
		font-size: .9em;
	}
	
	.montag-nav li {
		position: relative;
		left: 50%;
		display: block;
		float: none;
		margin-left: -150px;
	}
	
	.montag-nav li:last-of-type {
		top: 20px;
		float: left;
		margin-left: -300px;
	}
	
	.montag-inform-elem {
		position: relative;
		left: 0;
		display: block;
		float: none;
		margin-top: 10px;
	}
	
	.montag-inform-elem:nth-of-type(1) {
		position: relative;
		left: 50%;
		margin-left: -150px;
	}
	
	.montag-inform-elem:nth-of-type(3) {
		top: 130px;
		left: 50%;
		float: none;
		margin-left: -155px;
		width: 300px;
		font-size: 1em;
	}
	
	.montag-form {
		left: 50%;
		margin-left: -130px;
		padding: 0;
		width: 260px;
		height: 195px;
	}
	
	.montag-form .error-wrapper {
		position: relative;
		top: -90px;
		left: 50%;
		float: left;
		margin-left: -110px;
		width: 220px;
		height: 30px;
	}
	
	.montag-form .error-wrapper:nth-of-type(2) {
		top: -35px;
		left: 20px;
	}
	
	.montag-form input[type=button] {
		position: relative;
		top: -10px;
		left: 20px;
		margin: 0;
	}
	
	.montag-inform-elem a {
		left: 0%;
		margin-left: 0;
	}
	
	.container-fluid:nth-of-type(4) {
		padding: 20px 0 20px;
		height: 835px;
	}
	
	.termo-reg > p,
	.termo-reg h2 {
		margin: 0 auto;
		width: 370px;
		font-size: .9em;
	}
	
	.termo-reg h2 {
		margin-bottom: 10px;
	}
	
	.termo-reg > p:first-of-type {
		margin-bottom: 10px;
	}
	
	.termo-reg .tab-indicators {
		height: 60px;
	}
	
	.how-work h2,
	.how-work > h3  {
		font-size: 1em;
	}
	
	.how-work h2 {
		margin-bottom: 20px;
	}
	
	.item-work h3 {
		font-size: .9em;
	}
	
	.item-work {
		float: none;
		margin-top: 20px;
		width: 300px;
	}
	
	.stages-work {
		margin-left: -180px;
		width: 370px;
	}
	
	.paralax-eff-2 {
		margin-top: -100px;
	}
	
	.producer {
		height: 540px;
	}
	
	.producer h2 {
		margin: 20px 0;
		font-size: 1.2em;
	}
	
	.producer .row-1,
	.producer .row-2 {
		left: 0;
		width: 580px;
	}
	
	.producer .row-1 img,
	.producer .row-2 img {
		margin: 0;
		width: 220px;
	}
	
	.producer .row-1 img:nth-of-type(2n),
	.producer .row-2 img:nth-of-type(2n) {
		margin-left: 10px;
	}
	
	.container-fluid .producer .row-1 img:nth-of-type(2n),
	.container-fluid .producer .row-2 img:nth-of-type(2n) {
		top: 0;
		right: -20px;
		left: 0;
	}
	
	.container-fluid .producer .row-1 img:nth-of-type(2n + 1),
	.container-fluid .producer .row-2 img:nth-of-type(2n + 1) {
		top: 0;
		right: 20px;
		left: 0;
	}

	.container-fluid:nth-of-type(8) {
		padding: 20px 0;
		background: #efe6d5;
	}
	
	.contacts {
		float: none;
		margin-bottom: 5px;
		width: 360px;
	}
	
	.contact-items {
		margin: 10px 0;
	}
	
	.contact-items li {
		width: 200px;
		text-align: left;
	}
	
	.contact-items:first-of-type {
		left: -10px;
	}
	
	.contacts > p  {
		margin-bottom: 10px;
	}
	
	.goods-card {
		width: 310px;
		margin-left: -155px;
		padding-bottom: 10px;
	}
	
	.goods-img {
		width: 250px;
		height: 230px;
		margin-left: -125px;
	}
	
	.goods-description {
		width: 260px;
		margin-left: -130px;
	}
	
	.goods-description input {
		left: 0%;
		margin-left: 40px;
	}
	
	.goods-description input[type=button] {
		margin-left: 40px;
	}	
}

/*  экран меньше 620px 
=================================== */
@media only screen and (max-width: 620px) {
	.logo a {
		margin: 0;
		padding: 0;
		left: 35%;
	}
	
	.logo img {
		padding: 0;
		margin: 0;
		width: 220px !important;
	}
	
	.order-call input[type=button] {
		width: 100px;
	}
	
	.poster-top {
		padding-bottom: 80px;
	}
	
	.poster-top h1 {
		font-size: 1.5em;
	}
	
	.poster-top p {
		margin-bottom: 15px;
		font-size: 1.2em;
	}
	
	.left-col,
	.center-col { float: none; }
	
	.center-col {
		position: relative;
		left: 0%;
		margin-left: 0;
	}
	
	.right-col { display: none; }
	
	.slider-inform-1,
	.slider-inform-2 {
		padding: 0;
		text-align: left;
	}
	
	.left-col .slider-inform-1 li,
	.center-col .slider-inform-2 li {
		position: relative;
		left: 50% !important;
		margin-top: 0;
		margin-left: -110px !important;
		padding: 5px 0 5px 40px;
		width: 220px;
		font-size: 1.2em;
		line-height: 23px;
	}
	
	.slider-inform-1 li::before,
	.slider-inform-2 li::before {
		top: 0px;
	}
	
	.left-col a {
		position: absolute;
		top: 280px;
		left: 50%;
		margin-left: -125px;
		padding: 5px 5px;
		height: 45px;
		line-height: 35px;
	}
	
	.left-col a:hover {
		position: absolute;
		top: 280px;
		left: 50%;
		padding-top: 5px;
		height: 45px;
		line-height: 35px;
	}
	
	.calcul-form h2 {
		font-size: 1.1em;
	}
	
	.producer {
		height: 1000px;
	}
	
	.producer h2 {
		margin: 20px 0;
		font-size: 1.1em;
	}
	
	.producer .row-1,
	.producer .row-2 {
		width: 300px;
	}
	
	.producer .row-1 img,
	.producer .row-2 img {
		width: 220px;
	}
	
	.producer .row-1 img:nth-of-type(2n),
	.producer .row-2 img:nth-of-type(2n) {
		margin-left: 0px;
	}
	
	.calcul-form {
		left: 50%;
		margin: 0 0 0 -150px;
		width: 300px;
	}
	
	.row-1,
	.row-2 {
		margin-left: -125px;
		width: 250px;
	}
	
	.calcul-form input,
	.row-1 .select-wr,
	.row-2 .select-wr {
		width: 250px !important;
	}
	
	.row-1 .error-wrapper,
	.row-2 .error-wrapper {
		width: 250px !important;
	}
	
	.calcul-form select:first-child {
		width: 275px !important;
	}
	
	.select-wr select {
		background-position: 220px 40%;
	}

	.row-2 .select-wr select {
		background-position: 220px 40%;
	}
	
	.right-forms {
		margin-left: -150px;
	}
	
	.countdown { margin-top: 0; }
	
	.gift,
	.termo {
		width: 300px;
		font-size: .7em;
	}
	
	.gift input[type=text] {
		margin-left: -23px;
		font-size: 1.2em;
	}
	
	.price {
		margin-left: -150px;
		width: 300px;
	}
	
	.container-fluid:nth-of-type(2) { height: 820px; }
	
	.hot-floors {
		width: 320px !important;
	}
	
	.tabs-item > div {
		width: 320px !important;
	}
	
	.termo-reg-dop p,
	.termo-reg-dop h2 {
		width: 200px !important;
		margin: 0 auto;
	}
	
	.container-fluid:nth-of-type(3) { margin-top: -20px; }
	
	.container-fluid:nth-of-type(4) { height: 870px; }
	
	.termo-reg h2,
	.termo-reg p {
		width: 320px;
	}
	
	.stages-work {
		width: 300px;
	}
	
	.item-work {
		width: 280px;
	}
	
	.reckoning-form .error-wrapper .error {
		right: -15px;
	}
	
	.contacts  {
		width: 320px;
	}

	.contact-items a {
		margin-left: 0px;
	}
	
	.form-modal {
		width: 300px;
		margin-left: -150px;
	}
	
	.form-modal input {
		height: 30px;
		line-height: 30px;
		width: 250px;
	}
}