/*
Theme Name: Hot Floor
Theme URI: http://crm-system.pp.ua/
Description: Hot floor.
Version: 1.0
Author: CRM-WEB (Igor Ahabanin)
Author URI: http://crm-system.pp.ua
Метки: mobile, fluid width, two columns, threaded comments, widget ready, landing, valid html, valid css
*/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Play';
	src: url(fonts/play/Play-Regular.eot?) format("eot"),
		 url(fonts/play/Play-Regular.woff) format("woff"),
		 url(fonts/play/Play-Regular.ttf) format("truetype"),
		 url(fonts/play/Play-Regular.svg#Play) format("svg");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Play-Bold';
	src: url(fonts/play-bold/Play-Bold.eot?) format("eot"),
		 url(fonts/play-bold/Play-Bold.woff) format("woff"),
		 url(fonts/play-bold/Play-Bold.ttf) format("truetype"),
		 url(fonts/play-bold/Play-Bold.svg#Play) format("svg");
}

* {
	box-sizing: border-box;
}

body {
	word-spacing: 1px;
	font-size: 14px;
	font-family: 'Play', Helvetica, Arial, sans-serif;
}

.container, .container-fluid {
	padding: 0;
	min-width: 320px;
}

.clearfix::after {
	display: table;
	clear: both;
	content: '';
	line-height: 0;
}

ul, p, h1, h2 {
	margin: 0;
	padding: 0;
	list-style: none;
}

input {
	outline: none;
}

input[type=button] {
	width: auto;
	border: none;
	background: #498cc7;
	color: #fff;
	cursor: pointer;
	transition: background .3s, box-shadow .3s;
}

input[type=button]:hover {
	background: #2e7cc1;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	text-shadow: 1px 1px rgba(0,0,0,.3);
}

/*  HEADER 
=================================== */
/* first pannel  ================== */
header .container-fluid {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 5px 0;
	width: 100%;
	background: #fff;
}

.logo {
	float: left;
}

.logo img {
	width: 380px;
	height: 50px;
	transition: width .3s, height .3s;
}

.main-menu {
	float: right;
	padding: 0;
	list-style: none;
	text-align: right;
}

.main-menu li {
	float: right;
	outline: none !important;
}

.main-menu a {
	display: block;
	margin-top: 13px;
	padding: 5px 10px;
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 1em;
	font-family: 'Play-Bold', Helvetica, Arial, sans-serif;
	transition: all .3s;
	outline: none !important;
}

.main-menu li:first-child a {
	padding-right: 0;
}

.main-menu a:hover {
	color: #525050 !important;
	text-shadow: 0 0 15px rgba(0,0,0,.3) !important;
}

.drop-menu {
	position: relative;
	position: relative;
	left: 80%;
	display: none;
	margin-top: 0;
	width: 34px !important;
	height: 30px;
	border-radius: 3px;
	border-radius: 3px;
	background: #eee;
	background: url(images/menu_coll.jpg) center no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: all .3s;
}

.drop-menu::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 34px !important;
	height: 30px;
	border-radius: 3px;
	background: rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	content: '';
	transition: opacity .3s;
}

.drop-menu:hover::after {
	opacity: 0;
}

/*  разделитель ================== */
hr {
	margin: 5px 0;
	min-width: 100%;
	border: 1px solid transparent;
	border-bottom: 1px solid #ccc;
	transition: box-shadow .3s;
}

/*  seond pannel ================== */
.second-pannel {
	padding: 0;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	font-family: 'Play-Bold', Heletica, Arial, sans-serif;
}

.second-pannel > div:first-of-type {
	padding-left: 10px;
}

.number {
	text-align: center;
}

.numbers {
	display: inline-block;
}

.numbers li {
	float: left;
	margin-top: 12px;
	padding: 0 10px;
	list-style: none;
	font-size: 1em;
}

.numbers li:last-of-type {
	padding-right: 0;
}

.numbers li:first-of-type {
	padding-left: 0;
}

.order-call {
	margin-top: 10px;
	padding: 0 10px;
	text-align: right;
}

.order-call .error-wrapper {
	float: right;
}

.order-call input {
	height: 30px;
	border-radius: 3px;
	font-size: .6em;
}

.order-call input[type=text] {
	margin-right: 5px;
	padding: 0 20px 0 10px;
	width: 115px;
	outline: none;
	border: 1px solid #c6c6c6;
	background-color: #fafafa;
	text-align: left;
}

.order-call input[type=button] {
	float: right;
	margin-left: 5px;
	padding: 0 10px;
}

.order-call input[type=button]:hover {
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}

/*  теплые полы на синем фоне со складом
=================================== */
header + .container-fluid {
	margin-top: 120px;
	padding: 0 0 50px;
	background: url(images/back-fonts/bg-optm.jpg) center no-repeat;
 	background-size: cover;
	transition: margin .5s;
}

/*  poster-top ================== */
.poster-top {
	position: relative;
	background: rgba(73, 140, 199, 0.4);
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba(0,0,0,.7);
	font-weight: bold;
	font-size: 1.15em;
}

.poster-top h1 {
	padding-top: 20px;
	text-transform: uppercase;
	font-size: 2.1em;
}

.poster-top p {
	margin: 10px 0 45px;
	font-size: 1.2em;
}

.left-col {
	float: left;
}

.slider-inform-1,
.slider-inform-2 {
	padding-left: 10px;
	text-align: left;
}

.slider-inform-1 li,
.slider-inform-2 li {
	position: relative;
	margin-top: 20px;
	padding-left: 40px;
	line-height: 18px;
}

.slider-inform-1 li:first-child,
.slider-inform-2 li:first-child {
	margin: 0;
}

.slider-inform-1 li::before,
.slider-inform-2 li::before {
	position: absolute;
	top: -5px;
	left: 0px;
	display: block;
	width: 30px;
	height: 30px;
	content: '';
}

.slider-inform-1 li:nth-of-type(1)::before {
	background: url(images/form-icons/icon_1.png) center no-repeat;
	background-size: cover;
}

.slider-inform-1 li:nth-of-type(2)::before {
	background: url(images/form-icons/icon_2.png) center no-repeat;
	background-size: cover;
}

.slider-inform-1 li:nth-of-type(3)::before {
	background: url(images/form-icons/icon_3.png) center no-repeat;
	background-size: cover;
}

.slider-inform-2 li:nth-of-type(1)::before {
	background: url(images/form-icons/icon_4.png) center no-repeat;
	background-size: cover;
}

.slider-inform-2 li:nth-of-type(2)::before {
	background: url(images/form-icons/icon_5.png) center no-repeat;
	background-size: cover;
}

.slider-inform-2 li:nth-of-type(3):before {
	background: url(images/form-icons/icon_6.png) center no-repeat;
	background-size: cover;
}

.left-col a {
	position: relative;
	display: block;
	margin: 20px 5px 0;
	padding: 0 15px;
	width: 280px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 3px;
	background: #498cc7;
	color: #fff;
	text-align: center;
	text-decoration: none;
	word-spacing: 2px;
	font-weight: lighter;
	font-size: 1.2em;
	line-height: 50px;
	transition: width .3s, padding .3s, border .3s;
}

.left-col a:hover {
	padding: 0 50px 0 5px;
	width: 300px;
	border: 2px solid #498cc7;
}

.left-col a::after {
	position: absolute;
	top: 25%;
	right: 15%;
	display: block;
	width: 20px;
	height: 25px;
	background: url(images/form-icons/calcul_icon.png) no-repeat;
	content: '';
	opacity: 0;
	transition: right .3s, opacity .3s;
}

.left-col a:hover::after {
	right: 5%;
	opacity: 1
}

.center-col {
	position: absolute;
	left: 35%;
	float: left;
	margin-left: 10px;
}

.right-col {
	position: relative;
	top: -40px;
	right: 10%;
	float: right;
}

.right-col img {
	width: 200px;
}

/*  poster-botom ================== */
.poster-bot {
	position: relative;
	margin-top: 30px;
}

/* ======  calcul-form  */
.calcul-form {
	float: left;
	margin-top: 70px;
	padding: 10px 20px;
	background: url(images/back-fonts/fon-goods.png) repeat;
	text-align: center;
}

.calcul-form h2 {
	margin: 0 0 20px;
	color: #498CC7;
	font-weight: bold;
}

 .select-wr {/* ======  обертка селектов  */
	float: left;
	overflow: hidden;
	height: 32px;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
}

.row-1 .select-wr  {/* ======  селект первого ряда  */
	width: 290px;
}

.row-2 .select-wr  {/* ======  селекты второго ряда  */
	width: 210px;
}

.calcul-form input,
.calcul-form select {
	position: relative;
	padding: 0 30px 0 10px;
	width: 210px;
	height: 32px;
	outline: none;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
	background: #f7f7f7;
	color: #4e4e4e;
	letter-spacing: .5px;
	font-family: 'Play', Helvetica, Arial, sans-serif;
	line-height: 32px;
}

.calcul-form select {/* ====== ширина всех селектов  */
	width: 230px;
}

.select-wr select {/* ======  размещение иконки в селектах  */
	border: none;
	background: #f7f7f7 url(images/form-icons/select_icon.png) no-repeat;
	background-position: 265px 40%;
	background-size: 30px 20px;
}

.row-2 .select-wr select {/* ======  селекты вторго ряда  */
	background-position: 185px 40%;
}

.row-1 select:first-child {/* ======  селект первого ряда  */
	width: 310px;
}

.row-1 input[name=square] {/* ======  иконка карандаша  */
	background: #f7f7f7 url(images/form-icons/pencil_icon.png) no-repeat;
	background-position: 96% 50%;
	background-size: 20px 20px;
}

.row-2 {
	margin: 20px 0 10px;
}

.row-2 input:last-child {
	width: 290px;/* ======  кнопка получить расчет  */
	background: #498cc7;
	color: #fff;
	text-transform: uppercase;
	line-height: 33px;
}

/*  right-forms  ================== */
.right-forms {
	float: right;
}

.termo {/* ======  терморегулятор  */
	padding: 10px 10px;
	width: 365px;
	background: rgba(73, 140, 199, 0.4);
	text-align: center;
	text-shadow: 0 0 5px rgba(0,0,0,.7);
}

.termo h2 {
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	border-radius: 3px;
	background: transparent;
	color: #fff;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 20px;
}

.countdown {
	display: block;
	margin-top: 20px;
	margin-left: 13%;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.countdown li {
	float: left;
	margin-right: 15px;
	color: #9ba8ba;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	font-size: 2em;
	line-height: 20px;
}

.countdown li:nth-child(2n) {
	font-size: 2.6em;
	line-height: 15px;
}

.countdown span {
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	font-size: .4em ;
}

.gift {
	position: relative;
	margin: 30px 0;/* ======  получить подарок  */
	padding: 20px 20px;
	width: 365px;
	background: rgba(73, 140, 199, 0.4);
	text-align: center;
}

.gift input {
	display: block;
	margin: 0 auto;
	padding-left: 10px;
	width: 265px;
	height: 35px;
	border: 1px solid #fff;
	border-radius: 3px;
	font-size: .9em;
	line-height: 35px;
}

.gift input[type=button] {
	margin-top: 20px;
	border: none;
	background-color: #498cc7;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	line-height: 20px;
}

.price {
	position: absolute;
	bottom: -50px;
	left: 0;/* ======  скачать прайс  */
	width: 365px;
	border: 1px solid #fff;
	background: #498cc7;
	text-align: center;
	text-align: center;
}

.price a {
	display: block;
	height: 36px;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-size: .9em;
	line-height: 38px;
	transition: text-shadow .3s, box-shadow .3s;
}

.price a:hover {
	box-shadow: inset 0 0 50px rgba(0,0,0,.2);
	text-shadow: 0 0 5px rgba(0,0,0,.5);
}

/*  CONTENT 
=================================== */
/*  теплые полы
=================================== */
.container-fluid:nth-of-type(2) {
	padding: 10px 0;
	height: 830px;
	background: #efe6d5;
}

.hot-floors {
	margin-top: 90px;
	color: #333;
	text-align: center;
	font-size: 1.2em;
}

.hot-floors h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Play-Bold", Helvetica, Arial;
}

.hot-floor-tabbed {
	margin: 40px 0;
	border: 1px solid #d9d9d9;
	background: #fff;
}

.hot-floor-tabbed input {
	display: none;
}

.tab-indicators {
	height: 30px;
	border-bottom: 1px solid #d9d9d9;
	background: #f4f4f4;
}

.tab-indicators label {
	display: block;
	float: left;
	margin-left: 0;
	padding: 0 10px;
	height: 30px;
	color: #666;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9em;
	line-height: 30px;
	cursor: pointer;
}

.tab-indicators label:hover {
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.tab-indicators label:nth-of-type(2) {
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}

.tabs-item {
	position: relative;
}

.tabs-item h2 {
	margin: 25px 0;
	text-transform: uppercase;
}

.tabs-item > div {
	position: absolute;
	visibility: hidden;
	margin-left: -1px;
	padding: 10px;
	width: 1270px;
	border: 1px solid #d9d9d9;
	border-top: 1px solid transparent;
	background: #fff;
	line-height: 1.4em;
	opacity: 0;
	transition: opacity .5s, visibility .3s;
}

/*  элементы слайдера ================== */
.slider-wrapper {
	position: relative;
	margin: 0 auto 20px;
	width: 1200px;
}

.slider-pre {
	overflow: hidden;
	width: 1200px;
}

.slider {
	width: 1200px;
	text-align: center;
	transition: margin-left .3s;
}

.slide-item {
	position: relative;
	z-index: 0;
	float: left;
	padding: 5px 10px;
	width: 300px;
	text-align: center;
}

.slide-item img {
	max-width: 240px;
	width: auto;
	height: 220px;
}

.slide-item img:hover {
	cursor: pointer;
}

.slide-item  h3 {
	margin: 0;
	color: #333;
	text-shadow: -1px 0 rgba(0,0,0,.3);
	font-weight: bold;
	font-size: 1.1em;
}

.slide-item  h4 {
	margin: 0;
	padding: 0 40px;
	color: #333;
	text-transform: uppercase;
	text-shadow: -1px 0 rgba(0,0,0,.3);
	font-weight: normal;
	font-size: .9em;
}

.slide-item  p {
	display: none;
	margin-bottom: 5px;
	padding: 5px 0;
	color: #856f64;
	font-weight: bold;
	font-size: 1em;
	line-height: 20px;
}

.slide-item  p:first-of-type {
	display: block;
}

.slide-item span {
	font-size: 1.7em;
	font-family: "Play-Bold", Helvetica, Arial, sans-serif;
}

.slide-item  a {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	width: 100px;
	border-radius: 3px;
	background: #2c6ca5;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: .8em;
	cursor: pointer;
	transition: text-shadow .3s, box-shadow .3s, background .3s;
}

.slide-item  a:hover {
	background: #498cc7	;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	text-shadow: 0 0 5px rgba(0,0,0,.3);
}

/*  кнопки переключения слайдера ================== */
.control-left, .control-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	margin-top: -50px;
	width: 50px;
	height: 100px;
	background: url(images/sprites/arr_icons.png) no-repeat;
	opacity: 0;
	cursor: pointer;
	transition: left .4s, right .4s, opacity .3s;
}

.control-left {
	background-position: -5px 50%;
}

.control-right {
	background-position: -182px 50%;
}

.control-left:hover {
	background-position: -55px 50%;
}

.control-right:hover {
	background-position: -135px 50%;
}

/*  переключение закладок  ================== */
#tab-nav-1:checked ~ .tabs-item > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs-item > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs-item > div:nth-of-type(3),
#tab-nav-4:checked ~ .termo-reg-dop > div:nth-of-type(1),
#tab-nav-5:checked ~ .termo-reg-dop > div:nth-of-type(2) {
	visibility: visible;
	opacity: 1;
}

/*  ликвидация бочины  ================== */
#tab-nav-1:checked ~ .tabs-item > div:nth-of-type(1) .slide-item,
#tab-nav-2:checked ~ .tabs-item > div:nth-of-type(2) .slide-item,
#tab-nav-3:checked ~ .tabs-item > div:nth-of-type(3) .slide-item,
#tab-nav-4:checked ~ .termo-reg-dop > div:nth-of-type(1) .slide-item,
#tab-nav-5:checked ~ .termo-reg-dop > div:nth-of-type(2) .slide-item {
	z-index: 3;
}
/*  ликвидация бочины   ================== */

#tab-nav-1:checked ~ .tab-indicators > label:nth-of-type(1),
#tab-nav-2:checked ~ .tab-indicators > label:nth-of-type(2),
#tab-nav-3:checked ~ .tab-indicators > label:nth-of-type(3),
#tab-nav-4:checked ~ .termo-reg-dop > label:nth-of-type(1),
#tab-nav-5:checked ~ .termo-reg-dop > label:nth-of-type(2) {
	height: 30px;
	background: #fff;
	text-shadow: 0 0 1px rgba(0,0,0,.5);
}

#tab-nav-1:checked ~ .tab-indicators > label:nth-of-type(1) { border-left: 1px solid #d9d9d9; }
#tab-nav-3:checked ~ .tab-indicators > label:nth-of-type(3) { border-right: 1px solid #d9d9d9; }

#tab-nav-4:checked ~ .termo-reg-dop > label:nth-of-type(1) {border-right: 1px solid #d9d9d9;  border-left: 1px solid #d9d9d9; }
#tab-nav-5:checked ~ .termo-reg-dop > label:nth-of-type(2) {border-right: 1px solid #d9d9d9;  border-left: 1px solid #d9d9d9; }

.termo-reg .tab-indicators label { border: none; }

/*  Монтаж теплого пола 
=================================== */
.container-fluid:nth-of-type(3) {
	position: relative;
	overflow: hidden;
	padding: 0px 0;
}

.paralax-eff-1 {
	position: absolute;
	z-index: 1;
	margin-top: 0;
	width: 100%;
	height: 749px;
	background: url(images/back-fonts/montag-optm.jpg) center -100px no-repeat;
	background-size: cover;
}

.paralax-eff-1::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: block;
	width: 100%;
	height: inherit;
	background: rgba(0,0,0,.2);
	content: '';
}

.montag {
	position: relative;
	z-index: 3;
	margin: 100px auto;
}

.montag-header {
	padding: 20px; 
	border: 2px solid #dd9933;
	background: rgba(0,0,0,.3);
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Play-Bold', Helvetica, Arial, sans-serif;
}

.montag-nav {
	margin-top: 50px;
	padding: 0 40px;
}

.montag-nav li {
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba(0,0,0,.3);
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 1.3em;
	font-family: 'Play-Bold', Helvetica, Arial, sans-serif;
}

.montag-nav li:first-child {
	float: left;
}
.montag-nav li:last-child {
	float: right;
}

.montag-inform {
	margin: 50px 0;
	text-shadow: 0 0 5px rgba(0,0,0,.7);
}

.montag-inform-elem {
	display: inline-block;
	float: none;
}

.montag-inform-elem:nth-of-type(1),
.montag-inform-elem:nth-of-type(3) {
	float: left;
	width: 300px;
	color: #fff;
	font-size: 1.1em;
}

.montag-inform-elem:nth-of-type(1) {
	margin-left: 35px;
}

.montag-inform-elem:nth-of-type(3) {
	position: relative;
	right: 180px;
	float: right;
	width: 320px;
}
.montag-inform-elem:nth-of-type(3) h4 {
	margin: 0px 0 10px 0;
}

.montag-form {
	position: relative;
	top: 110px;
	left: -300px;
	padding: 20px 0 0;
	border-radius: 5px;
	background: url(images/back-fonts/fon-goods.png) repeat;
	text-align: center;
}

.montag-form input {
	display: block;
	margin: 0 auto 20px;
	padding-left: 5px;
	width: 220px;
	height: 35px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	line-height: 35px;
}

.montag-form input[type=button] {
	margin: 0 20px 20px;
	border: none;
	background: #498cc7;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 20px;
}

.montag-inform-elem a {
	position: relative;
	top: 0;
	left: 50%;
	margin: 20px 0 0 -100px;
	padding: 5px 15px;
	border: none;
	border: none;
	border-radius: 3px;
	background: #498cc7;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9em;
	line-height: 25px;
	transition: text-shadow .3s, box-shadow .3s;
}

.montag-inform-elem a:hover {
	box-shadow: inset 0 0 50px rgba(0,0,0,.2);
	text-shadow: 0 0 5px rgba(0,0,0,.5);
}

.montag-inform-elem p {
	margin-bottom: 30px;
}

.montag-inform-elem:last-child {
	margin: 0;
}

/*  терморегуляторы
=================================== */
.container-fluid:nth-of-type(4) {
	position: relative ;
	padding: 60px 0 20px;
	height: 760px;
	background: #efe6d5;
}

.termo-reg .hot-floors {
	margin-top: 30px;
}

.termo-reg {
	text-align: center;
}

.termo-reg h2 {
	margin-bottom: 10px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.4em;
}

.termo-reg > p {
	color: #666;
	font-size: .9em;
	line-height: 20px;
}

.termo-reg > p:first-of-type {
	margin-bottom: 40px
}

.termo-reg > p:last-of-type {
	margin-bottom: -30px;
}

/*  как мы работаем 
=================================== */
.container-fluid:nth-of-type(5) {
	padding: 0;
	background: #fff;
}

.how-work {
	margin: 50px auto 100px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.how-work h2 {
	margin: 40px;
	padding: 5px 0;
	font-size: 1.4em;
}

.stages-work {
	padding: 0 35px;
}

.item-work {
	position: relative;
	float: left;
	margin-right: 35px;
	padding: 0 5px 0 40px;
	width: 270px;
}

.item-work:last-of-type {
	margin-right: 0px;
}

.item-work::after {
	position: absolute;
	top: 5px;
	left: 0;
	display: table;
	margin-left: 3px;
	width: 32px;
	height: 32px;
	background: url(images/sprites/how_work_icons.png) no-repeat;
	background-position: -4px -5px;
	background-size: cover;
	content: '';
	opacity: 1;
}

.item-work:nth-of-type(2)::after { background-position: -40px 0; }
.item-work:nth-of-type(3)::after { background-position: -82px -5px; }
.item-work:nth-of-type(4)::after { background-position: -124px -4px; }

.item-work p {
	margin-bottom: 10px;
	color: #666;
	text-align: left;
	text-transform: none;
	font-weight: normal;
	font-size: 1.1em;
	line-height: 20px;
}

.item-work h3 {
	margin: 5px 0;
	text-align: left;
	font-size: 1.2em;
}

.how-work > h3 {
	margin: 40px 0;
	padding: 5px 0;
	font-size: 1.3em;
}

/*  проверить теплый пол 
=================================== */
.container-fluid:nth-of-type(6) {
	position: relative;
	overflow: hidden;
	padding: 0;
	height: 500px;
}

.paralax-eff-2 {
	position: absolute;
	z-index: 0;
	margin-top: -100px;
	width: 100%;
	height: 800px;
	background: url(images/back-fonts/floor-optm.jpg) center 50px no-repeat;
	background-size: cover;
}

.reckoning {
	position: relative;
	margin: 100px auto;
	text-align: left;
}

.reckoning h2 {
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba(0,0,0,.3);
	font-size: 1.8em;
}

.reckoning-form {
	margin: 50px 0 150px 30px;
	padding: 20px 0;
	width: 310px;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 3px;
	background: url(images/back-fonts/fon-goods.png) repeat;;
}
		
.reckoning-form input {
	display: block;
	margin:  0 auto 20px;
	padding-left: 10px;
	width: 268px;
	height: 35px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
}

.reckoning-form input[type=button] {
	margin-bottom: 0;
	background: #498cc7;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

/*  лучшие производители 
=================================== */
.producer {
	position: relative;
	height: 600px;
	text-align: center;
}

.producer h2 {
	margin: 100px 0 80px;
	color: #333;
	text-transform: uppercase;
	font-size: 1.8em;
}

.producer .row-1,
.producer .row-2 {
	margin-bottom: 70px;
}

.producer .row-1 img,
.producer .row-2 img {
	position: relative;
	margin: 0 100px;
	opacity: 0;
	transition: all 1s;
}

.producer .row-1 img:nth-of-type(1) {
	top: -60px;
	left: -50px;
}

.producer .row-1 img:nth-of-type(2),
.producer .row-1 img:nth-of-type(3) {
	top: -80px;
}

.producer .row-1 img:nth-of-type(4) {
	top: -60px;
	left: 50px;
}

.producer .row-2 img:nth-of-type(1) {
	top: 60px;
	left: -50px;
}

.producer .row-2 img:nth-of-type(2),
.producer .row-2 img:nth-of-type(3) {
	top: 80px;
}

.producer .row-2 img:nth-of-type(4) {
	top: 60px;
	left: 50px;
}

.producer .row-1 img:first-of-type,
.producer .row-2 img:first-of-type {
	margin-left: 0;
}

.producer .row-1 img:last-of-type,
.producer .row-2 img:last-of-type {
	margin-right: 0;
}

/*  контакты
=================================== */
.container-fluid:nth-of-type(8) {
	padding: 50px 0;
	background: #efe6d5 url(images/back-fonts/post-girl.png) no-repeat;
	background-position: 0% 0px;
	opacity: 0;
	transition: all 1s;
}

.contacts {
	margin-bottom: 38px;
	text-align: center;
}

.contacts h2 {
	margin-bottom: 10px;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8em;
}

.contacts > p {
	margin-bottom: 50px;
	color: #666;
	font-weight: bold;
	font-size: 1em;
}

.contact-items {
	float: right;
	margin-right: 90px;
	padding-left: 50px;
	width: 300px;
	text-align: left;
	font-weight: bold;
	font-size: 1.4em;
}

.contact-items p {
	margin-bottom: 30px;
}

.contact-items a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	transition: text-shadow .2s, color .2s;
}

.contact-items a:hover {
	color: #111;
	text-shadow: 1px 1px rgba(255,255,255,.8),
		0 0 20px rgba(0,0,0,.5);
}

.contact-items li {
	display: block;
	width: 240px;
}

.contact-items p,
.contact-items a,
.contact-items ul {
	position: relative;
	font-family: 'Play-Bold', Helvetica, Arial, sans-serif;
}

.contact-items p::before,
.contact-items a::before,
.contact-items ul::before {
	position: absolute;
	top: 0;
	left: -40px;
	display: block;
	width: 42px;
	height: 42px;
	background: url(images/sprites/contact_icons.png) center no-repeat;
	background-position: -100px 2px;
	background-size: cover;
	content: '';
	transition: all 1s;
}

.contact-items p::before {
	left: -50px;
	background-position: 0 2px;
}
.contact-items a::before {
	top: -9px;
	left: -50px;
	background-position: -50px 0;
}

/*  копирайт 
=================================== */
.copyright {
	padding: 0 0 15px;
	height: 65px;
	background: #eee;
	text-align: center;
	font-size: 1.2em;
}

.copyright a {
	display: inline-block;
	margin: 20px 0 0;
	padding: 0;
	width: 240px;
	border-radius: 20px;
	background: #eee;
	color: #444;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Play-Bold', Helvetica, Arial, sans-serif;
	line-height: 40px;
	transition: color .3s, text-shadow .3s,
		background .4s, box-shadow .4s;
}

.copyright a:hover {
	background: #d8d8d8;
	box-shadow: inset 0 0 40px rgba(255,255,255,.6);
	color: #000;
	/*text-shadow: 1px 1px rgba(255,255,255,.4);*/
}

/*  google-maps 
=================================== */
.google-maps {
	position: relative;
	z-index: 4;
	margin: -50px 0 -20px;
	padding: 0;
	width: 100% !important;
	height: 330px !important;
	background: #eee; 
}
.google-maps iframe {
	width: 100% !important;
	height: 330px !important;
}

/*  Модальные окна 
=================================== */
.overlay {
	position: fixed !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;/* ======  подложка  */
	z-index: 99;
	display: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	background-size: cover !important;
	opacity: 1;
}

.form-modal {/* ======  форма молдального окна  */
	position: relative;
	top: 45%;
	left: 50%;
	z-index: 999;
	display: none;
	margin: -110px 0 0 -190px;
	padding: 10px 25px;
	width: 380px;
	border-radius: 3px;
	background: url(images/back-fonts/fon-goods.png) repeat;
	box-shadow: 0 5px 20px rgba(0,0,0,.7);
	opacity: 0;
}

.form-modal input {
	display: block;
	margin: 0 auto;
	padding-left: 10px;
	width: 330px;
	height: 40px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	line-height: 40px;
}

.form-modal input:first-child {	margin-top: 5px; }
.form-modal input:last-child { margin-bottom: 5px; }

.form-modal input[type=button] {
	padding: 5px 10px;
	background: #498cc7;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	line-height: 0;
	cursor: pointer;
}

.modal-close {
	position: absolute;
	top: 5px;
	right: -4px;
	z-index: 99999;
	display: block;/* ======  элемент закрывающий модальное окно  */
	width: 20px;
	height: 20px;
	text-shadow: 0 0 5px rgba(0,0,0,.3);
	font-weight: bold;
	font-size: 1.1em;
	cursor: pointer;
	transition: color .3s, text-shadow .3s;
}

.modal-close:hover {
	color: #f00;
	text-shadow: 0 0 20px rgba(0,0,0,.6);
}

/* иконки мобильных
=================================== */
input[data-mobile] {/* ======  общие стили для всех инпутов с иконками мобильного  */
	background: #f7f7f7 url(images/form-icons/mobile_icon.png) no-repeat;
	background-position: 96% 47%;
	background-size: 10px 15px;
}

.order-call input[data-mobile] {/* ======  самый вверхний инпут  */
	background-position: 94% 47%;
}

.gift input[data-mobile] {/* ======  инпут получить подарок  */
	background-color: #fff;
}

.montag-form input[data-mobile],/* ======  инпут монтаж  */
.reckoning-form input[data-mobile] {/* ======  инпут проверки перед оплатой  */
	background-color: #fff;
}

/*  вывод ошибки 
=================================== */
.error-wrapper {
	position: relative;
	z-index: 1;/* ====== обертка сообщения об ошибки */
	float: left;
	border-radius: 4px;
}
.error {
	position: absolute;
	top: -14px;
	right: -25px;
	z-index: 2;/* ====== сообщение об ошибке */
	display: block;
	background: transparent;
	color: #f00;
	text-transform: capitalize;
	text-shadow: 1px 1px rgba(0,0,0,.1);
	font-weight: bold;
	font-size: 12px;
	opacity: 0;
	transition: opacity .3s, right .3s;
}

/*  корректировка для разный элм-ов ================== */

/* ======  расчетная форма  */
.calcul-form .error-wrapper {
	margin-right: 20px;
}

.row-1 .error-wrapper:last-of-type {
	margin-right: 0;
}

.row-1 .error-wrapper:nth-of-type(1) {
	width: 292px;
}

.row-2 .error-wrapper:nth-of-type(1),
.row-2 .error-wrapper:nth-of-type(2) {
	width: 212px;
}

/* ======  получить подарок  */
.gift .error-wrapper {
	margin: 0 0 20px 9%;
}

/* ======  получить подарок  */
.montag-form .error-wrapper {
	float: none;
}

/* ======  как проверить  */
.reckoning-form .error-wrapper {
	margin: 0 0 0 7%;
	padding: 0;
}

/* ======  модальные окна  */
.form-modal .error-wrapper:nth-of-type(1) {
	margin-top: 10px;
}

.form-modal .error-wrapper {
	margin-bottom: 20px;
}

.modal-slider-item .error-wrapper {
	float: none;
}

.modal-slider-item .error-wrapper:last-of-type {
	margin-bottom: 10px;
}

/*  карточка товара 
=================================== */
.goods-card {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	display: none;
	margin-left: -450px;
	padding: 45px;
	max-height: 700px;
	width: 900px;
	border: 5px solid #ddd;
	border-radius: 10px;
	background: #fff;
	background: url(images/back-fonts/fon-goods.png);
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	opacity: 0;
}

.goods-img {
	float: left;
	margin: 0;
	width: 330px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
}

.goods-description {
	position: relative;
	float: left;
	margin-left: 50px;
	width: 400px;
	text-align: left;
}

.goods-description h2 {
	margin-bottom: -15px;
	padding: 0;
	width: 150px;
	color: #6F5D4F;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
	font-weight: bold;
	font-size: 1.4em;
}

.goods-description h4 {
	margin-bottom: 5px;
	color: #6F5D4F;
	letter-spacing: 1px;
	font-size: 1.1em;
}

.goods-description p {
	color: #745151;
	text-shadow: 1px 1px rgba(255,255,255,.2);
	font-size: 1.1em;
	line-height: 20px;
}

.goods-description p:first-of-type {
	margin-bottom: 20px;
	font-family: "Play-Bold", Helvetica, Arial, sans-serif;
}

.goods-description .price-good {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.4em;
}

.goods-description .error-wrapper {
	display: inline-block;
	float: none;
	margin-top: 20px;
}

.goods-description input {
	width: 180px;
	border-radius: 3px;
}

.goods-description input[type=text] {
	padding: 0 10px;
	border: 1px solid transparent;
	line-height: 30px;
}

.goods-description input[type=button] {
	display: block;
	margin: 10px 0 20px;
	padding: 5px 10px;
	border: 3px solid rgba(0,0,0,.1);
	background: #498cc7;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: border .3s, text-shadow .3s, background .3s;
}

.goods-description a:hover {
	border: 3px solid rgba(0,0,0,.3);
	background: #146ab5;
	text-shadow: 1px 1px rgba(255,255,255,.5);
}

.goods-card .modal-close {
	top: 15px;
	right: 10px;
}

/*  успешная отправка формы 
=================================== */
.succes-send {
	display: none;
	opacity: 0;
	width: 310px;
	height: 100px;
	background: url(images/back-fonts/fon-goods.png) center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -150px;
	border: 5px solid #aaa;
	border-radius: 10px;
	padding: 0 20px;
	transition: opacity .3s;
	z-index: 9;
}

.succes-send p {
	color: #555;
	text-align: center;
	margin-top: 15px;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px rgba(255,255,255,.9), -1px -1px rgba(255,255,255,.9), 0 0 5px rgba(0,0,0,.5);
}